<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>CrazyServlet</servlet-name>
        <servlet-class>com.weixin.message.servlet.CrazyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Oauth2Servlet</servlet-name>
        <servlet-class>com.weixin.message.servlet.Oauth2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JqGridServlet</servlet-name>
        <servlet-class>com.jqgrid.test.JqGridServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JqGridServlet002</servlet-name>
        <servlet-class>com.jqgrid.test.JqGridServlet002</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrazyServlet</servlet-name>
        <url-pattern>/CrazyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Oauth2Servlet</servlet-name>
        <url-pattern>/Oauth2Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JqGridServlet</servlet-name>
        <url-pattern>/JqGridServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JqGridServlet002</servlet-name>
        <url-pattern>/JqGridServlet002</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
